.DS_Store
**/.DS_Store

# Xcode user-local state
**/xcuserdata/
**/*.xcuserstate

# Build artifacts
DerivedData/
build/

# Firebase
firebase-debug.log

# CocoaPods
Pods/

# SPM
.build/
Package.resolved

# Secrets / env
*.env
*.xcconfig
